/*-------------------------HEADER--------------------------------------------*/

.header {
    position: fixed;
    width: 100vw;
    text-decoration: none;
    transition: all 0.5s ease-in;
    transform: translateY(0);
    z-index: 10;
    background: rgba(255, 255, 255, 0.2);
}

/*-------------------------HEADER-ANIMATION--------------------------------------------*/

.headerOnScrollDown {
    transition: all 0.5s ease-in;
    /*animation-fill-mode: forwards;*/
    transform: translateY(-100%);
}