/*-------------------------HEADER--------------------------------------------*/

/*.header {*/
/*    position: fixed;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    flex-direction: row;*/
/*    flex-wrap: nowrap;*/
/*    width: 100vw;*/
/*    text-decoration: none;*/
/*    transition: all 0.5s ease-in;*/
/*    transform: translateY(0);*/
/*    z-index: 10;*/
/*    background: rgba(255, 255, 255, 0.2);*/
/*}*/

/*.logo_container {*/
/*    background-image: url("../../../../src/files/main/logo_container.png");*/
/*    width: 100px;*/
/*    !*height: 100px;*!*/
/*    background-position: center;*/
/*    background-size: contain;*/
/*    background-repeat: no-repeat;*/
/*}*/

.header {
    font-family: "AA Haymaker", regular;
    letter-spacing: 1px;
    /*font-weight: lighter;*/
    position: fixed;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 108px;
    width: 100%;
    /*border: 1px solid yellow;*/
    /*flex-grow: 1;*/

    background: rgba(255, 255, 255, 0.2);
    font-size: 16px;
}

.logo_container {
display: flex;
    justify-content: center;
    align-items: center;
    /*width: 100%;*/
    /*flex: 322 322;*/
    flex: 300 200px;
    height: 60%;
    border: 1px solid green;
}

.logo {
    background-image: url("../../../files/whiteLogo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 100%;
    border: 1px solid aqua;

}

.btn_container {
    display: flex;
    justify-content: left;
    align-items: center;
    color: white;
    /*width: 100%;*/
    flex: 465;
    min-width: 280px;
    /*flex: 1;*/
    /*height: 15vh;*/
    border: 1px solid blue;
    font-size: 17px;
    /*padding-left: 50px;*/
    white-space: nowrap;
}

.btn {
    border: 1px solid white;
    padding: 12px 24px;
    margin-left: 5%;
}

/*-------------------------HEADER-ANIMATION--------------------------------------------*/

.headerOnScrollDown {
    transition: all 0.5s ease-in;
    /*animation-fill-mode: forwards;*/
    transform: translateY(-100%);
}

/*--------------------------@media queries------------------------------------------------*/

@media (max-width: 1100px) {
    .logo {
        display: none;
    }

    .logo_container {
        flex: 0;
        min-width: 2%;
    }

    .btn_container {
        display: contents;
    }

    .btn {
        margin: 0 2% 0 2%;
    }
}