/*-------------------------HEADER--------------------------------------------*/

.header {
    position: fixed;
    /*height: 200%;*/
    width: 100vw;
    /*mix-blend-mode: hard-light;*/
    text-decoration: none;
    /*background-color: red;*/
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    transition: all 0.5s ease-in;
    transform: translateY(0);
    z-index: 10;
    background: rgba(255, 255, 255, 0.2);
}



.header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    opacity: 1;
}

.nav_item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 5vh;
    flex: 1 1;
    height: 15vh;
    /*justify-content: space-between;*/
}

.header nav div {
    /*flex: 1;*/
    /*padding: 10vh 50px 0;*/

}

.header a {
    text-decoration: none;
    color: blue;
    white-space: nowrap;
}

/*-------------------------HEADER-ANIMATION--------------------------------------------*/

.headerOnScrollDown {
    transition: all 0.5s ease-in;
    /*animation-fill-mode: forwards;*/
    transform: translateY(-100%);
}