.left_header {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 12%;
    /*border: 1px solid green;*/
    height: 100%;
    z-index: 15;
    left: 0;
    justify-self: self-start;
}

.scrolltop {
    display: flex;
    justify-content: center;
    align-items: center;
    /*left: -100%;*/
    /*bottom: 20%;*/
    transform: translateX(-100%);
    flex: 2;
    /*border: 1px solid blue;*/
    transition-property: transform;
    transition-timing-function: ease-out;
    transition-duration: 300ms;

}

.left_header:hover {
    /*background: rgba(255, 255, 255, 0.2);*/
}

.left_header:hover .scrolltop{
/*transform: translateY(10px);*/
    transform: translateX(0);
    /*left: 50%;*/
}

.left_nav {
    /*left: 200px;*/
    /*border: 1px solid red;*/
    flex: 8;
}