.wrapper {
    display: flex;
    flex-direction: column;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1 {
    font-size: 58px;
    letter-spacing: 4px;
    font-family: "Black KnightC";
    width: 100%;
}

.grid_container {
    margin: 7% 0 0 0;
    display: grid;
    grid-template-rows: 300px 300px 320px 190px;
    font-family: "Book Antiqua";
    letter-spacing: 1.5px;
    line-height: 1.5;
    width: 100%;
}

.grid_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /*border: 1px solid lime;*/
    /*height: 30vh;*/
}

.flex_item {
    display: flex;
    height: 100%;
    white-space: nowrap;
    width: 100%;
}

.text1 {
    justify-content: start;
    align-items: flex-start;
}

.castle {
    background-image: url("../../../../../files/main/AboutUs/AboutUsCastle.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    position: relative;
    top: -25%;
    left: -8%;
    height: 90%;
    width: 100%;


}

.arrow1 {
    position: relative;
    left: -10%;
    background-image: url("../../../../../files/main/AboutUs/AboutUsArrow.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 68%;
    height: 100%;
    width: 100%;
}

.arrow2 {
    background-image: url("../../../../../files/main/AboutUs/AboutUsArrow.svg");
    background-repeat: no-repeat;
    background-position: left;
    transform: rotateY(180deg) rotate(9deg);
    position: relative;
    top:0%;
    left: 14%;
    background-size: 68%;
    height: 100%;
    width: 100%;
}

.text2 {
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    top: 6%;
    left: 4%;
}

.man_and_castle {
    background-image: url("../../../../../files/main/AboutUs/AboutUsMenAndCastle.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: -22%;
    left: 18%;
    background-size: 70%;
    height: 100%;
    width: 100%;
}

.text3 {
    justify-content: center;
    position: relative;
    top: 9%;
    left: -2%;
}

.knight_on_the_horse {
    background-image: url("../../../../../files/main/AboutUs/KnightOnTheHorse.svg");
    background-repeat: no-repeat;
    background-position: left;
    position: relative;
    top: -21%;
    left: -6%;
    background-size: 86%;
    height: 100%;
    width: 100%;
}

.arrow3 {
    background-image: url("../../../../../files/main/AboutUs/AboutUsArrow.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 56%;
    transform: rotate(13deg);
    position: relative;
    top: 20.5%;
    left: -12%;
    height: 100%;
    width: 100%;
}

.text4 {
    justify-content: flex-end;
    position: relative;
    top: 25%;
    left: 4%;
}

.middle_age_party {
    background-image: url("../../../../../files/main/AboutUs/middleAgeParty.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: -4%;
    left: 2%;
    background-size: 39%;
    height: 100%;
    width: 100%;
}

@media (max-width: 1200px) {
    .castle {
left: 8%;
    }

    .arrow1 {
transform: rotate(20deg);
        top: 15%;
        left: 10%;
    }

    .arrow2 {
        transform: rotateY(180deg) rotate(30deg);
        top: 30%;
        left: 5%;
    }

    .knight_on_the_horse {
left: 20%;
    }

    .arrow3 {
transform: rotate(30deg);
        left: 0%;
        top: 40%;
    }

}

@media  (max-width: 890px) {
    .grid_container {
        grid-template-rows: 300px 240px 240px 190px;
    }

    .grid_item:nth-child(1) .flex_item:nth-child(3) {
        display: none;
    }

    .grid_item:nth-child(2) .flex_item:nth-child(1) {
        display: none;
    }

    .grid_item:nth-child(3) .flex_item:nth-child(3) {
        display: none;
    }

    .grid_item:nth-child(4) .flex_item:nth-child(1) {
        display: none;
    }

    .grid_item:nth-child(1) {
        flex-direction: row-reverse;
    }

    .grid_item:nth-child(3) {
        flex-direction: row-reverse;
    }

    .grid_item:nth-child(1) .flex_item {
        justify-content: center;
        align-items: center;
        /*left: 0;*/
        /*top: 0;*/
    }

    .castle {
        background-position: center;
        top: 0;
        left: 0;
    }

    .text1 {
        position: relative;
        left: 3%;
    }

    .man_and_castle {
        left: 5%;
        top: 0;
        transform: scale(1.2);
    }

    .knight_on_the_horse {
        left: 5%;
        /*background-size: 70%;*/
    }


}


@media (max-width: 600px) {
.wrapper {
    display: none;
}
}
