/*-------------------------------ABOUT-US--------------------------------------*/

.about_us_block {
    display: flex;
    flex-direction: column;
}

.about_us_column {
    display: flex;
    flex-direction: row;
}

.about_us_left {
    justify-content: flex-start;
    align-items: center;
    border: 1px solid green;
}

.about_us_right {
    justify-content: flex-end;
    align-items: center;
    border: 1px solid red;
    overflow: hidden;
}

.about_us_items {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /*width: 50vw;*/
    width: 80vw;
    border: 1px solid blue;
    margin: 10vh 0 10vh 0;
    font-size: 4vh;

}

.about_us_left_item{
    transform: translateX(-100%);
    transition: all 1s ease-in;
}

.about_us_right_item{
    transform: translateX(100%);
    transition: all 1s ease-in;
}

.about_us_left_show {
    transition: all 1s ease-in;
    transform: translateX(0%);
}

.about_us_right_show {
    transition: all 1s ease-in;
    transform: translateX(0%);
}

/*.about-us-left .about-us-items {*/
/*    animation: about-us-left-div-move 5s infinite;*/
/*}*/

/*.about-us-right .about-us-items {*/
/*    animation: about-us-right-div-move 5s infinite;*/
/*}*/

@keyframes about_us_left_div_move {
    from {
        background-color: blue;
        /*width: 100vh;*/
        animation-timing-function: ease-out;
        transform: translateX(-80vw);
    }
    50% {
        background-color: blueviolet;
        width: 200vh;
        animation-timing-function: ease-in;
        transform: translateX(2vw);

    }
    to {
        background-color: blue;
        /*width: 100vh;*/
        transform: translateX(-80vw);
    }
}

@keyframes about_us_right_div_move {
    from {
        background-color: blue;
        /*width: 100vh;*/
        animation-timing-function: ease-out;
        transform: translateX(calc(80vw));
    }
    50% {
        background-color: blueviolet;
        width: 200vh;
        /*border-radius: 0 50% 50% 0;*/
        animation-timing-function: ease-in;
        transform: translateX(calc(-2vw));

    }
    to {
        background-color: blue;
        /*width: 100vh;*/
        transform: translateX(calc(80vw));
    }
}