.container {
    position: relative;
    height: 25vh;
    background-color: #ECDAC0;
}

.castle {
position: absolute;
    right: 0;
    background-image: url("../../../src/files/Basis/Footer/footerCastle.svg");
    height: 100%;
    width: 30vh;
}

.grid_container {
    font-family: "Book Antiqua";
    display: grid;
    grid-template-columns: 20px [first-vert-icon] 0.75fr [social] 0.75fr [first-vert]
                            20px [second-vert-icon] 1fr [second-vert]
                            20px [third-vert-icon] 1fr [third-vert]
                            20px [fourth-vert-icon] 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
padding: 0 8vw;
    grid-column-gap: 1vh;
}

.item {
    display: flex;
    justify-content: left;
    align-items: center;
}

.logo {
    background-image: url("../../../src/files/Basis/Footer/footerLogo.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    grid-column: 1 / first-vert;

}

.name {
    font-family: "Black KnightC";
    font-size: 5vh;
}

.item:nth-child(2) {
    grid-column: first-vert / second-vert;
}

.item:nth-child(3) {
    grid-column: second-vert / third-vert;
}

.item:nth-child(4) {
    grid-column: third-vert / 1 span;
}

.item:nth-child(5) {
    grid-column: second-vert-icon / 1 span;
}

.item:nth-child(6) {
    grid-column: third-vert-icon / 1 span;
}

.item:nth-child(7) {
    grid-column: fourth-vert-icon / 1 span;
}

.item:nth-child(8) {
    grid-column: first-vert-icon / 2 span;
}

.item:nth-child(9) {
    grid-column: second-vert-icon / 1 span;
}

.item:nth-child(10) {
    grid-column: third-vert-icon / 1 span;
}

.item:nth-child(11) {
    grid-column: fourth-vert-icon / 1 span;
}

.message_icon {
    font-family: "Font Awesome 5 Pro Regular";

}

.mi1 {
    grid-column: first-vert / second-vert-icon;
    grid-row: 3/4;
}

.mi2 {
    grid-column: second-vert / third-vert-icon;
    grid-row: 3/4;
}

.mi3 {
    grid-column: third-vert / fourth-vert-icon;
    grid-row: 3/4;
}

.phone_icon {
    font-family: "Font Awesome 5 Pro Regular";

}

.pi1 {
    grid-column: first-vert / second-vert-icon;
    grid-row: 2/3;
}

.pi2 {
    grid-column: second-vert / third-vert-icon;
    grid-row: 2/3;
}

.pi3 {
    grid-column: third-vert / fourth-vert-icon;
    grid-row: 2/3;
}

.location_icon {
    font-family: "Font Awesome 5 Pro Regular";
    grid-column: 1 / first-vert-icon;
    grid-row: 3/4;
}

.social_icon {
    font-family: "Font Awesome 5 Brands Regular";
}

.si1 {
    display: flex;
    justify-content: flex-end;
    grid-column: first-vert-icon / social;
    grid-row: 2/3;
}

.si2 {
    grid-column: social / first-vert;
    grid-row: 2/3;
}