nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    opacity: 1;
    border: 1px solid red;
    /*min-width: 800px;*/
    /*max-width: 1000px;*/
    /*width: 100%;*/
    flex: 435 435 ;
}


.nav_item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 2.5vh;
    flex: 1 1;
    height: 15vh;
    /*justify-content: space-between;*/
}

a {
    text-decoration: none;
    color: white;
    white-space: nowrap;
}
