/*-------------------------IMAGE-TRANSFER--------------------------------------------*/

.image_flex_container {
    display: flex;
}

.image_items {
    display: flex;
    height: 100vh;
    flex: 1 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 4vh;
    /*transition-property: flex, opacity, font-size;*/


    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    transition-property: flex;
    transition-duration: 1.1s;
    transition-timing-function: ease-out;
}

.overlay {
    position: relative;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.25);
    z-index: 10;

    transition-property: background;
    transition-duration: 1.1s;
    transition-timing-function: ease-out;
}

.data_container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*background: #3f0d0d;*/
    background: rgba(45, 2, 7, 0.7);
    width: 24vw;
    height: 30vh;
    padding: 3vh 2vw;
    transition-property: width, height;
    transition-duration: 1.1s;
    transition-timing-function: ease-in;
}

.name {
    /*font-size: 60px;*/
    font-size: 9vh;
    color: white;
    /*border: 1px solid green;*/
    font-family: "Black KnightC";
}

.monogram {
    width: 18vw;
    height: 2vh;
    background-image: url("../../../../files/main/white_line.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition-property: width;
    transition-duration: 1.1s;
    transition-timing-function: ease-out;
}

.text {
    /*border: 1px solid red;*/
    color: white;
    text-align: center;
    font-family: "Book Antiqua", regular;
    font-size: 0.00000000vh;
    flex: 0.00000001;
    width: 0;
    /*height: 5vh;*/
    opacity: 0;
    transition-property: width, height, opacity, flex, font-size;
    transition-duration: 1.1s;
    transition-timing-function: ease-out;
}


.phone {
    color: #ecdac0;
    margin-top: 1vh;
    text-align: center;
    /*border: 1px solid yellow;*/
    font-family: "Book Antiqua", bold;
    font-size: 0.00000000vh;
    flex: 0.0000000;
    /*width: 6vw;*/
    /*height: 5vh;*/
    opacity: 0;
    transition-property: opacity, flex, font-size;
    transition-duration: 1.1s;
    transition-timing-function: ease-out;
}

.btn_container {
    font-family: "Black KnightC",regular;
    color: black;

    margin-top: 1vh;
    flex: 0.3;
    display: flex;
    padding: 1vh;
    align-items: center;
    justify-content: center;
    transition-property: opacity, flex, font-size;
    transition-duration: 1.1s;
    transition-timing-function: ease-out;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 8vw;
    height: 6vh;
    transition-property: width, height;
    transition-duration: 1.1s;
    transition-timing-function: ease-out;
}

.firstImage {
    background-image: url("../../../../files/main/restaurant.jpg");
}

.secondImage {
    background-image: url("../../../../files/main/hotel.jpg");
}

.thirdImage {
    background-image: url("../../../../files/main/pool.jpg");
}

.image_flex_container:hover > div {
    flex: 5;
}

.image_flex_container:hover > div:hover {
    flex: 16;
}

.image_flex_container:hover .data_container {
    width: 12vw;
    height: 10vh;
    transition-property: width, height;
    transition-duration: 0.55s;
    transition-timing-function: ease-out;
}

.image_flex_container:hover .image_items:hover .data_container {
    width: 50vw;
    height: 60vh;
    transition-property: width, height;
    transition-duration: 1.1s;
    transition-timing-function: ease-out;
}

.image_flex_container:hover .monogram {
    width: 4vw;
}

.image_flex_container:hover .image_items:hover .monogram {
width: 40vw;
}

.image_flex_container:hover .text {
    font-size: 0.00000000vh;
    flex: 0.00000001;
    opacity: 0;
    width: 0;
}

.image_flex_container:hover .image_items:hover .text {
    font-size: 4vh;
    flex: 1;
    opacity: 1;
    width: 45vw;
    height: 30vh;
}

.image_flex_container:hover .phone {
    font-size: 0.00000000vh;
    flex: 0.00000001;
    opacity: 0;
}

.image_flex_container:hover .image_items:hover .phone {
    font-size: 4vh;
    flex: 0.13;
    opacity: 1;
    height: 2vh;
}

.image_flex_container:hover .btn_container {
    font-size: 0.00000000vh;
    flex: 0.0000000;
    opacity: 0;
}

.image_flex_container:hover .image_items:hover .btn_container {
    font-size: 4vh;
    flex: 0.13;
    opacity: 1;
    height: 2vh;
}

.image_flex_container:hover .btn {
width: 0;
    height: 0;
}

.image_flex_container:hover .image_items:hover .btn {
width: 8vw;
    height: 6vh;
}

.image_flex_container:hover .overlay {
    background: rgba(0, 0, 0, 0.7);
}

.image_flex_container:hover .overlay:hover {
    background: rgba(1, 1, 1, 0);
    font-size: 6vh;
}
