/*-------------------------IMAGE-TRANSFER--------------------------------------------*/

.image_flex_container {
    display: flex;
}

.image_items {
    display: flex;
    height: 100vh;
    flex: 1 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 29px;
    /*transition-property: flex, opacity, font-size;*/


    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    transition-property: flex;
    transition-duration: 1.1s;
    transition-timing-function: ease-out;
}

.overlay {
    position: relative;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.25);
    z-index: 10;

    transition-property: background;
    transition-duration: 1.1s;
    transition-timing-function: ease-out;
}

.data_container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*background: #3f0d0d;*/
    background: rgba(45, 2, 7, 0.7);
    width: 24%;
    height: 25%;
    padding: 1.5% 2% 3% 1.5%;
    transition-property: width, height, padding;
    transition-duration: 1.1s;
    transition-timing-function: ease-in;
}

.name {
    /*font-size: 60px;*/
    font-size: 65px;
    letter-spacing: 1.5px;
    color: white;
    /*border: 1px solid green;*/
    font-family: "Black KnightC";
    transition-property: font-size;
    transition-duration: 1.1s;
    transition-timing-function: ease-in;
}

.monogram {
    width: 80%;
    height: 6%;
    background-image: url("../../../../files/main/ImageTransfer/white_line.png");
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    transition-property: width, margin;
    transition-duration: 1.1s;
    transition-timing-function: ease-out;
    margin: 0 0 2% 0;
}

.text {
    /*border: 1px solid red;*/
    color: white;
    text-align: center;
    font-family: "Book Antiqua", regular;
    white-space: nowrap;
    font-size: 0;
    flex: 0;
    width: 70%;
    height: 0;
    /*height: 5vh;*/
    opacity: 0;
    transition-property: height, opacity, flex, font-size;
    transition-duration: 1.1s;
    transition-timing-function: ease-out;
    transform-origin: center;
}


.phone {
    color: #ecdac0;
    margin: 2% 0 0 0;
    text-align: center;
    /*border: 1px solid yellow;*/
    font-family: "Book Antiqua", bold;
    font-size: 0;
    letter-spacing: 1.5px;
    flex: 0;
    /*width: 6vw;*/
    /*height: 5vh;*/
    opacity: 0;
    transition-property: opacity, flex, font-size, margin;
    transition-duration: 1.1s;
    transition-timing-function: ease-out;
}

.new_btn {
    display: flex;
    /*flex: 0.3;*/
    height: 40px;
    width: 140px;
    align-items: center;
    justify-content: center;
    font-family: "Black KnightC", regular;
    color: black;
    opacity: 1;
    margin: 0;
    /*padding: 3% 2%;*/
    /*margin: 2% 0 0 0;*/
    transition-property: opacity, font-size, width, height, margin;
    transition-duration: 1.1s;
    transition-timing-function: ease-out;
    background-color: white;
}

.btn_container {
    font-family: "Black KnightC", regular;
    color: black;
    opacity: 1;
    /*margin: 2% 0 0 0;*/
    flex: 0.3;
    display: flex;
    padding: 3% 2%;
    align-items: center;
    justify-content: center;
    transition-property: opacity, flex, font-size, padding;
    transition-duration: 1.1s;
    transition-timing-function: ease-out;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 2% 5%;
    width: 100%;
    height: 100%;
    transition-property: width, height, padding;
    transition-duration: 1.1s;
    transition-timing-function: ease-out;
}

.firstImage {
    background-image: url("../../../../files/main/ImageTransfer/restaurant.jpg");
}

.secondImage {
    background-image: url("../../../../files/main/ImageTransfer/hotel.jpg");
}

.thirdImage {
    background-image: url("../../../../files/main/ImageTransfer/pool.jpg");
}

.image_flex_container:hover > div {
    flex: 5;
}

.image_flex_container:hover > div:hover {
    flex: 16;
}

.image_flex_container:hover .data_container {
    width: 12%;
    height: 10%;
    padding: 1% 2%;
    transition-property: width, height, padding;
    transition-duration: 0.55s;
    transition-timing-function: ease-out;
}

.image_flex_container:hover .image_items:hover .data_container {
    width: 50%;
    height: 60%;
    padding: 1.5% 2% 3% 1.5%;
    transition-property: width, height, padding;
    transition-duration: 1.1s;
    transition-timing-function: ease-out;
}

.image_flex_container:hover .name {
    font-size: 45px;
    transition-duration: 0.55s;
}

.image_flex_container:hover .image_items:hover .name {
    font-size: 65px;
    transition-duration: 1.1s;
}

.image_flex_container:hover .monogram {
    width: 0;
    margin: 0;
    transition-duration: 0.55s;
}

.image_flex_container:hover .image_items:hover .monogram {
    width: 80%;
margin: 0 0 3.5% 0;
    transition-duration: 1.1s;
}

.image_flex_container:hover .text {
    font-size: 0;
    flex: 0;
    opacity: 0;
    width: 100%;
    height: 0;
    /*transition-property: height, opacity, flex, font-size;*/
    transition-duration: 0.55s;
    /*transition-timing-function: ease-out;*/
}

.image_flex_container:hover .image_items:hover .text {
    font-size: 26px;
    flex: 1;
    opacity: 1;
    width: 70%;
    height: 100%;
    transition-duration: 1.1s;
}

.image_flex_container:hover .phone {
    font-size: 0;
    flex: 0;
    opacity: 0;
    margin: 0;
    transition-duration: 0.55s;
}

.image_flex_container:hover .image_items:hover .phone {
    font-size: 35px;
    flex: 0.13;
    opacity: 1;
    /*height: 15px;*/
    margin: 0;
    transition-duration: 1.1s;
}

.image_flex_container:hover .new_btn {
    opacity: 0;
    width: 0;
    height: 0;
    font-size: 0;
    margin: 0;
    transition-duration: 0.55s;
}

.image_flex_container:hover .image_items:hover .new_btn {
    opacity: 1;
    width: 210px;
    height: 52px;
    font-size: inherit;
    margin: 40px 0 0 0;
    transition-duration: 1.1s;
}

.image_flex_container:hover .overlay {
    background: rgba(0, 0, 0, 0.7);
    transition-duration: 0.55s;
}

.image_flex_container:hover .overlay:hover {
    background: rgba(1, 1, 1, 0);
    font-size: 43px;
    transition-duration: 1.1s;
}
